{{ $releaseNamespace := .Release.Namespace }}
{{ $prometheusUsers := dict }}

{{ range .Values.namespaces.names }}
{{ $namespace := . }}

{{ $user := print $namespace "-external-monitoring" }}
{{ $password := randAlphaNum 42 }}
{{
  $_ := set $prometheusUsers
    $user
    (htpasswd "" $password | trimPrefix ":")
}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $releaseNamespace }}-external-monitoring
  namespace: {{ $namespace }}
data:
  prometheus_user: {{ $user | b64enc }}
  prometheus_password: {{ $password | b64enc }}
---
{{ end }}

apiVersion: v1
kind: Secret
metadata:
  name: k8s-prometheus-auth-presets
data:
  web.presets.yaml: {{ dict "basic_auth_users" $prometheusUsers | toYaml | b64enc }}